body {
    background-color:teal;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: crimson;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}
.project img{
    width: 300px;
   /* height: 300px; */
    margin: 10px;
    border: 2px solid rgb(36, 217, 226); /* choose a color */
    display: block;
    margin: auto;
    }
 a { /* change the appearance of ALL links */
        text-decoration: none;
        text-align: center;
        color: rgb(194, 25, 13);
        }
        .project p { /* change the appearance of paragraph tags inside .project divs */
        text-align: center;
        margin: 15px;
        }