body {
    margin: 0;
    font-family: Georgia, "Times New Roman", serif;
    background-color: #2a2a28;
    color: #222222;
}

#container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #d7b74e;
    border-radius: 6px;
}

#course-title {
    color: darkred;
}

#student-name {
    color: #ce1a1a;
}

#github-link {
    display: block;
    margin: 12px 0;
    color: rgb(177, 7, 7);
    text-decoration: none;
    font-weight: bold;
}

.assignment-link {
    color: rgb(174, 15, 15);
    text-decoration: none;
}
